#user_form_div {
    height: 500px;
    position: relative;
    text-align: center;
}

#clock1 {
    color: #003850;
    font-family: a_LCDNova, arial, serif;
    font-size: 3em;

    height: 100px;
    width: 200px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: -100px;

}

#user_form_inputs {
    position: absolute;
    top: 50%;
    margin-top: 10px;
    width: 200px;
    left: 50%;
    margin-left: -100px;

    padding-top: 10px;
}

#user_form_inputs * {
    margin-top: 10px;
}
