@font-face {
    font-family: 'MarkerFelt';
    src: local('MarkerFelt'),
    url('./fonts/MarkerFelt-Wide.ttf') format('truetype'),
    url('./fonts/MarkerFelt-Wide.eot?#iefix') format('embedded-opentype'),
    url('./fonts/MarkerFelt-Wide.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'a_LCDNova'; /* arial */
    src: local('a_LCDNova'),
    url('./fonts/a_lcdnova.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.table_title {
    background: LightGray;
    color: #003850;
    font-family: MarkerFelt, fantasy;
    font-size: 1.5em;
    text-align: center;
}
.main_table {
    width: 100%;
    height: 100%;
}